.brigades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__brigade {
    margin: 10px !important;
    width: calc(100% / 4 - 20px);

    @media (max-width: 400px) {
      width: calc(100% / 2 - 20px);
    }
  }
}

.filters{
    display: flex;
}